{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% if page.product.customBonusSystemBonusProduct and page.product.customBonusSystemOnlyBuyableWithPoints %}
    {% set onlyBuyableWithPoints = 1 %}
{% else %}
    {% set onlyBuyableWithPoints = 0 %}
{% endif %}

{% if page.customBonusSystemBonusProduct %}
    {% set buyableWithPoints = 1 %}
    {% set bonusPoints = page.product.customBonusSystemPointCosts %}
    {% if context.customer %}
        {% set loggedIn = 1 %}
    {% endif %}
{% else %}
    {% set buyableWithPoints = 0 %}
{% endif %}

{% block page_product_detail_buy_form_action %}
    {% if bonusPoints and loggedIn == 1 %}
        {{ path('frontend.checkout.custom-bonus-system.product.add') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_container %}
    {% if bonusPoints and loggedIn == 1 %}
        <div id="bonus-system-product-detail-buy" class="bonus-system-points-container" data-buy-with-points-url="{{ seoUrl('custom-bonus-system.buy-with-points-checkbox', {product: page.product.id}) }}">
            {% sw_include '@Storefront/storefront/component/bonus/bonus-brand.html.twig' %}
            <div class="bonus-text">
                <input type="hidden" name="lineItems[{{ page.product.id }}][payload][maxPurchaseQuantity]" value="{{ page.product.calculatedMaxPurchase }}">
                {% if onlyBuyableWithPoints == 1 %}
                    <input type="hidden" name="lineItems[{{ page.product.id }}][payload][buyWithPoints]" value="1" />{{ "custom-bonus-system.productDetails.buyWithNumberPoints"|trans({'%points%': bonusPoints}) }}
                {% else %}
                    <input
                        id="buy-with-points-only-checkbox"
                        type="checkbox"
                        name="lineItems[{{ page.product.id }}][payload][buyWithPoints]"
                        value="1"
                        {% if page.product.customBonusSystemOnlyBuyableWithPointsChecked %}checked="checked"{% endif %}
                    />{{ "custom-bonus-system.productDetails.buyWithNumberPoints"|trans({'%points%': bonusPoints}) }}
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
    {% endif %}

    {% if onlyBuyableWithPoints == 1 and loggedIn == 0 %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type:"info",
            content:"custom-bonus-system.productDetails.loginToBuyWithPointsOnly"|trans
            } %}
    {% elseif buyableWithPoints == 1 and loggedIn == 0 %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type:"info",
            content:"custom-bonus-system.productDetails.loginToBuyWithPoints"|trans
        } %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

